body{
    height: 200vh;
    background-color: aliceblue;
}


.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.container-all{
    margin-top: 155px;
    display: flex;
    height: 500px;
}

